<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title slot="start">
      Figura Geometrica
    </ion-title>
    <ion-select (ionChange)="selectChange($event)" slot="end" label="Escoja una figura geometrica">
      <ion-select-option value="circulo">circulo</ion-select-option>
      <ion-select-option value="triangulo">triangulo</ion-select-option>
    </ion-select>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <app-circle *ngIf="selectedType === 'circulo'"></app-circle>
    <app-triangle *ngIf="selectedType === 'triangulo'"></app-triangle>
  </div>
</ion-content>
